.banner-principal {
    max-width: 100%;
    margin: 0 auto;
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 40px 10%;

    background-color: #f8f9fa;
    border-radius: 30px;

}

.banner-info {
    flex: 1;
    max-width: 55%;
}

.banner-info h1 {
    font-size: 50px;
    line-height: 1.15;
    color: #1a1a1a;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
}

.banner-subtitulo {
    color: #007f5f;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.destaque-verde {
    color: #007f5f;
}

.banner-descricao {
    font-size: 15px;
    line-height: 1.5;
    color: #555555;
    max-width: 500px;
    margin-bottom: 30px;
}

.banner-botoes {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-agendar:hover {
    background-color: #007f5f;
}

.btn-agendar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 24px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
}

.btn-agendar img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.btn-servicos {
    background-color: transparent;
    padding: 12px 24px;
    border: 2px solid oklch(37.8% 0.077 168.94);
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: oklch(37.8% 0.077 168.94);
}

.banner-conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;

}

.banner-img-profissional {
    background: #007f5f;
    max-width: 358px;
    height: auto;
    border-radius: 25px;

    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 50%);
    mask-image: linear-gradient(to right, transparent 0%, black 50%);

}