.diferenciais {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;

    background-color: #f8f9fa;
    padding: 20px 0;

    font-family: sans-serif;
}

.card-diferencial {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-diferencial img {
    width: 45px;
    height: 45px;
}

.card-diferencial p {
    font-size: 1rem;
    line-height: 1.3;
    color: #333333;
    margin: 0;
    font-weight: 500;
}