.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    flex-wrap: wrap;

    border-top: 1px solid rgba(255, 255, 255, .15);
    
    background: linear-gradient(90deg,
            #041f39 0%,
            #032d43 50%,
            #063c4b 100%);

}


.footer-descricao,
.footer-redes-sociais a {
    color: #a0aec0;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 20px;
    transition: color 0.2s ease, opacity 0.2s ease;
}

.footer-redes-sociais a:hover {
    color: #ffffff;
}

.footer-info-box,
.footer-servicos,
.footer-produtos,
.footer-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 12px;
    color: #a0aec0;
}
.footer-servicos a,
.footer-produtos a {
    text-decoration: none;
    color: #a0aec0;
    
}

.footer-servicos a:hover,
.footer-produtos a:hover {
    color: #ffffff;
}

.footer-servicos-titulo,
.footer-produtos-titulo,
.footer-contato-titulo,
.footer-titulo {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ffffff;
}

.footer-marca {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-marca img {
    width: 65px;
    height: auto;
    border-radius: 12px;
}

.footer-logo-texto {
    display: flex;
    flex-direction: column;
    
}

.footer-descricao-marca {
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: #a0aec0;
    letter-spacing: 1px;
    margin-top: 2px;
}

.footer-redes-sociais {
    display: flex;
    gap: 8px;
    align-self: flex-start;

}

.footer-redes-sociais img {
    width: 25px;
    height: auto;
    border-radius: 30%;
    transition: opacity 0.2s ease;
}

.footer-redes-sociais a:hover img {
    opacity: 0.7;
}

.footer-lista-produtos {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.footer-linha-contato {
    display: flex;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

.footer-rotulo {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
    margin-right: 8px;

}

.footer-texto-contato {
    flex: 1;
    max-width: 320x;
    word-break: break-word;
}

.footer-copy {
    flex-basis: 100%;
    text-align: center;
    font-size: 13px;
    color: #cbd5e1;
    
}