.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: sans-serif;
    gap: 70px;
    max-width: 1800px;
    margin: 0 auto;
    padding: 10px;

    border-top: 1px solid rgba(255, 255, 255, .15);
    
    background: linear-gradient(90deg,
            #041f39 0%,
            #032d43 50%,
            #063c4b 100%);

}

.footer-container h3{
    color: #ffffff;
    font-size: 18px;
    margin: 0;
}

.footer-container p,
.footer-container a {
    color: #a0aec0;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4;
    transition: color 0.2s ease, opacity 0.2s ease;
}

.footer-container a:hover {
    color: #ffffff;
}

.footer-info,
.footer-servicos,
.footer-produtos,
.footer-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 12px;
}

.footer-servicos h3,
.footer-produtos h3,
.footer-contato h3,
.logo-texto h3 {
    margin-bottom: 3px;
    font-size: 20px;
}

.marca {
    display: flex;
    align-items: center;
    gap: 10px;
}

.marca img {
    width: 50px;
    height: auto;
    border-radius: 12px;
}

.logo-texto {
    display: flex;
    flex-direction: column;
    
}

.logo-texto p {
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: #a0aec0;
    letter-spacing: 1px;
    margin-top: 2px;
}

.redes-sociais {
    display: flex;
    gap: 8px;
    align-self: flex-start;

}

.redes-sociais img {
    width: 24px;
    height: auto;
    border-radius: 30%;
    transition: opacity 0.2s ease;
}

.redes-sociais a:hover img {
    opacity: 0.7;
}

.lista-produtos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.linha-contato {
    display: flex;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

.rotulo {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
    margin-right: 8px;

}

.texto-contato {
    flex: 1;
    max-width: 450px;
    word-break: break-word;
}

.footer-copy {
    flex-basis: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 13px;
 
    color: #cbd5e1;
    border-top: 1px solid rgba(255, 255, 255, .1);
    
     background: linear-gradient(90deg,
            #041f39 0%,
            #032d43 50%,
            #063c4b 100%);
}