
.container {
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    align-items: center;
    padding: 10px;
    max-width: 100%;
    margin: auto;
    background-color: #ffffff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

main {
    padding-top: 90px;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-logo  img{
  width: 55px;
  height: 55px;
  border-radius: 20px;
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.texto-logo p {
    font-size: 0.9rem;
    margin: 0;
    letter-spacing: 2px;
       
}
.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: center;
}
.navbar a {
    text-decoration: none;
    color: #333333;
    font-size: 1.2rem;
    font-weight: 500;

    transition: color 0.3s ease,
            transform 0.3s ease;
}

.navbar a:hover {
    color: #007f5f;
    transform: translateY(-2px);
}
.btn-whatsapp {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 30px;
    margin-right: 40px;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    white-space: nowrap;
}
.btn-whatsapp:hover {
    background-color: #007f5f;
}
.btn-whatsapp img {
    width: 25px;
    height: 25px;
    border-radius: 30px;
}